@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sds-light: var(--sds-light);
  --color-sds-dark: var(--sds-dark);
  --color-sds-pink: var(--sds-pink);
  --color-sds-blue: var(--sds-blue);
  --color-sds-accent-a11: var(--accent-a11);

  --font-inter: var(--sds-font-inter);

  --shadow-toast: inset 0 0 0 1px var(--accent-a7);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --sds-light: #ffffffde;
  --sds-dark: #011631;
  --sds-pink: #fed5f4;
  --sds-blue: #4da2ff;
  --sds-font-inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-family: var(--sds-font-inter);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-width: 100%;
  min-height: 100vh;
}

/* Custom styles where it's not possible to use Tailwind classes. */
.sds-connect-button-container {
  button {
    padding: 8px 16px !important;
    border-radius: 8px !important;
  }
  div {
    font-size: 16px !important;
    line-height: 24px !important;
    font-family: inherit !important;
  }
}
/* ~ Custom styles where it's not possible to use Tailwind classes. */
